<div class="first-banner">
    <section class="first-banner-info container">
        <div class="px-4 py-5 my-5 text-center">

            <a href="">
                <img class="mx-auto mb-4 rounded-pill" src="{{banner.banner1Image}}" alt="" width="200" height="200">
            </a>

            <h1 class=" pb-4 fw-bold"> {{banner.banner1Title}} </h1>

            <div class="col-lg-12 mx-auto">


                <p class="mb-4 fs-5 fst-italic">
                    {{banner.banner1Info1}}
                </p>

                <p class="mb-4 fs-5 fst-italic text-warning">
                    {{banner.banner1VisionLine}}
                </p>

                <p class="mb-4 fs-5 fst-italic">
                    {{banner.banner1Info2}}
                </p>
            </div>
        </div>
    </section>
</div>